
  
  
  .principal {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    padding: .5rem .5rem .5rem .5rem ;
    a {
        text-decoration: none;
      }

    .a-quiensoy {
        display: flex;
        justify-content: center;
        background-color: #515151;
        font-size: x-large;
        opacity: 70%;
        color: white;
        padding-block: 0.5rem;
        align-items: center;
        font-weight: 1000;
        
      }
      
      .a-racingteam {
        display: flex;
        justify-content: center;
        background-color: #b5b5b5;
        font-size: x-large;
        opacity: 70%;
        color: white;
        padding-block: 0.5rem;
        padding-right: 1rem;
        align-items: center;
        font-weight: 1000;
      }
      
      .a-academia {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b5b5b5;
        font-size: x-large;
        opacity: 70%;
        color: white;
        padding-block: 0.5rem;
        align-items: center;
        font-weight: 1000;
      }
      
      .a-contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #515151;
        font-size: x-large;
        opacity: 70%;
        color: white;
        padding-block: 0.5rem;
        align-items: center;
        font-weight: 1000;
      }
  }
  
  
  

  @include tablet {

    main {
      margin-inline: 1rem ;
    }
    
      .principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "div-toprak0 div-toprak" "div-superbikes div-racingteam" "div-academia div-contacto";
        margin-top: 0.5rem;
        min-height: 93vh;
        gap: 1.4rem;

        .a-quiensoy {
          padding-block: 6rem;
        }
        .a-racingteam {
          padding-block: 6rem;
        }
        .a-academia {
          padding-block: 6rem;
        }
        .a-contacto {
          padding-block: 6rem;
        }
      }

      
  }

  @include desktop {
    main {
      margin-inline: 2rem ;
    }

      .principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "div-toprak0 div-toprak0 div-superbikes div-racingteam" "div-toprak div-toprak div-preparaciones div-contacto";
        min-height: 93vh;
        gap: .3rem;

        .div-toprak0 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 0;
          grid-row-end: 2;
        }
        .div-toprak {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 0;
          grid-row-end: 3;
        }
        .a-quiensoy {
          padding-block: 6rem;
          padding-inline: 0;
        }
        .a-racingteam {
          padding-block: 6rem;
          padding-inline: 0;
        }
        .a-academia {
          padding-block: 6rem;
        }
        .a-contacto {
          padding-block: 6rem;
        }
        .a-quiensoy:hover {
          transition: background-color 0s;
          border-radius: 0rem;
          border-color: white;
          background-color: rgb(122, 4, 4);
          color: white;
          font-style: italic;
          font-weight: 800;
          font-size: xx-large;
          
        }
        .a-racingteam:hover {
          transition: background-color 0s;
          background-color: rgb(122, 4, 4);
          color: white;
          font-style: italic;
          font-weight: 800;
          font-size: xx-large;
        }
        .a-academia:hover {
          transition: background-color 0s;
          border-radius: 0rem;
          border-color: white;
          background-color: rgb(122, 4, 4);
          color: white;
          font-style: italic;
          font-weight: 800;
          font-size: xx-large;
        }
        .a-contacto:hover {
          transition: background-color 0s;
          border-radius: 0rem;
          border-color: white;
          background-color: rgb(122, 4, 4);
          color: white;
          font-style: italic;
          font-weight: 800;
          font-size: xx-large;
        }
      }
      
  }

  