.navbar {
    background-color: red;
    display: flex;

    .toprak-title:hover {
    
      @include tablet { 
      display: flex;
      background-color: rgb(255, 255, 255);
      transform: scale(1.45) rotate(0deg);
      background-color: rgb(130, 130, 130);
      color: #000;
    }
    }
    .a-inicio:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-yamaha:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-academiaa:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-contactoo:hover {
      transform: scale(1.6) rotate(5deg);
    }
  


    @include tablet {
      .navbar {
        display: flex;
      }
    }

    .menu-mobil-superbikes {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include tablet {
        display: none;
      }
    }
  }
  
  
  
  .toprak-title {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding-inline: 0rem;
    margin-left: 1rem;
    font-weight: 800;
  }
  
  .navbar-toggler {
    margin-right: 1rem;
  }
  
  .navbar-nav {
    padding-left: 2rem;
    margin-top: .5rem;

    .nav-link {
      color: rgb(237, 228, 228);
      font-weight: 600;
      text-decoration: underline;
    }
  }
  
  .titulo-superbikes {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0 0 0.3rem 0;
    font-style: bold;
    font-weight: 900;
    
  }
  
  .p-quiensoy {
    text-align: start;
    color: white;
    margin: 0.25rem 1rem 0 1rem;
  }
  
  .menu-desktop-superbikes {
    display: none;
    
    @include tablet {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-right: 0rem;

         > * {
          list-style-type: none;
          text-decoration: none;
          color: white;
          padding-inline: 0rem;
          font-style: italic;
          font-weight: 800;
          

        }
        .toprak-title {
          color: black;
          background-color: white;
          margin: 0 0 0 .5rem;
          padding: 0rem .2rem 0rem .6rem;
          font-size: x-large;
          transform: scale(1.45);
        }
    }
  }

  .main_quiensoy {
    position: relative;
    @include tablet {
      max-width: 130vh;
      gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div-pr div_quiensoy_letras"
                          "div-pr div_quiensoy_letras"
                          "div_quiensoy_letras2 div-pr1 "
                          "div_quiensoy_letras2 div-pr1";

  }

  .div_quiensoy_letras > h2{
    display: flex;
    font-size: xx-large;
    
  }
  .quien_soy_img2 {
    display: none;
     
  }
  .div-pr {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
      
      .quien_soy_img1 {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
      .quien_soy_img {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
    }
  }
  .div-pr1 {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
      
      .quien_soy_img11 {
        display: flex;
        width: 100%;
        align-items: flex-end;
        align-content: flex-end;
        padding: .5rem 0 0 .5rem;
        justify-content: center;
    }
      .quien_soy_img00 {
        display: flex;
        width: 100%;
        align-items: flex-end;
        align-content: end;
        padding: .5rem 0 0 .5rem;
    }
    }
  }


  @include tablet {
    .div_quiensoy_letras {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: white;
        font-size: larger;
        text-decoration: underline;
      }
    }
    
  }

  @include tablet {
    .div_quiensoy_letras2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
        justify-content: center;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: white;
        justify-content: center;
        font-size: larger;
        text-decoration: underline;
      }
    }
   
  }

}


  .div_quiensoy_letras > h2{
    display: flex;
    font-size: xx-large;
    
  }
  .quien_soy_img2 {
    display: none;
     
  }
  .div-pr {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
      
      .quien_soy_img1 {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
      .quien_soy_img {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
    }
  }
  .div-pr1 {
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
        align-items: end;
        align-content: end;
        justify-content: center;
      
      .quien_soy_img11 {
        display: flex;
        width: 100%;
        align-items: flex-end;
        align-content: flex-end;
        padding: .5rem 0 0 .5rem;
        justify-content: center;
    }
      .quien_soy_img00 {
        display: flex;
        width: 100%;
        align-items: flex-end;
        align-content: end;
        padding: .5rem 0 0 .5rem;
    }
    }
  }


  @include tablet {
    .div_quiensoy_letras {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: white;
        font-size: larger;
      }
    }
    
  }

  @include tablet {
    .div_quiensoy_letras2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
        justify-content: center;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: white;
        justify-content: center;
        font-size: larger;
      }
    }
   
  }

  .pie-pagina {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 0 .5rem .5rem .5rem;
    text-align: center;
    color: rgb(224, 217, 217);
    

    @include tablet {
      background-color: rgb(161, 161, 161);
      flex-direction: row;
      margin: 0 0rem 0rem 0rem;
      padding: 1rem 1.5rem 0rem 1rem;
      justify-content: space-between;
      color: rgb(3, 3, 3);
    }

    .uno {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 1rem 1rem 1rem 1rem;

    .imgfooter {
      max-width: 5rem;
    }
    }

    .dos {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablet {
        padding: 0 1rem 1rem 2rem;
        .h2-pie {
          justify-content: center;
          align-items: center;
          align-content: center;
        }
      }

    }

    .tres {
      padding-right: 0rem; 
      justify-content: center;
          align-items: center;
          align-content: center;
    }

    }
   
  