.navbar {
    background-color: red;
    display: flex;

    .toprak-title:hover {
      background-color: rgb(255, 255, 255);
      transform: scale(1.35) rotate(0deg);
      color: #000;
    }
    .a-inicio:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-yamaha:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-academiaa:hover {
      transform: scale(1.6) rotate(5deg);
    }
    .a-contactoo:hover {
      transform: scale(1.6) rotate(5deg);
    }
  


    @include tablet {
      .navbar {
        display: flex;
      }
    }

    .menu-mobil-superbikes {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include tablet {
        display: none;
      }
    }
  }
  
  
  
  .toprak-title {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  
  .navbar-toggler {
    margin-right: 1rem;
  }
  
  .navbar-nav {
    padding-left: 2.15rem;
  }
  
  .titulo-superbikes {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .h2 {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: black;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0 0 0.3rem 0;
  }
  
  .p-quiensoy {
    text-align: start;
    color: white;
    margin: 0.25rem 1rem 0 1rem;
  }
  
  .menu-desktop-superbikes {
    display: none;
    
    @include tablet {
        display: flex;
        flex: 1;
        justify-content: space-between;
        display: flex;
        flex: 1;
        align-content: center;
        align-items: center;
        margin-right: 2rem;

         > * {
          list-style-type: none;
          text-decoration: none;
          color: black;
          background-color: white;
          padding-inline: 0.1rem;
        }
        .toprak-title {
          color: white;
          background-color: transparent;
        }
    }
  }
  .div_quiensoy_letras > h2{
    display: flex;
    
  }
  .quien_soy_img2 {
    display: none;
     
  }
  .div-pr {
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
      
      .quien_soy_img1 {
        display: flex;
        width: 50%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
      .quien_soy_img {
        display: flex;
        width: 50%;
        align-items: center;
        align-content: center;
        padding: .5rem 0 0 .5rem;
    }
    }
  }
  .div-pr1 {
    margin: 1rem 1rem 1rem 1rem;

    @include tablet {
        margin: .25rem 0 0 0;
        display: flex;
        align-items: end;
        align-content: end;
        justify-content: end;
      
      .quien_soy_img11 {
        display: flex;
        width: 50%;
        align-items: flex-end;
        align-content: flex-end;
        padding: .5rem 0 0 .5rem;
        justify-content: right;
    }
      .quien_soy_img00 {
        display: flex;
        width: 50%;
        align-items: flex-end;
        align-content: end;
        padding: .5rem 0 0 .5rem;
    }
    }
  }


  @include tablet {
    .div_quiensoy_letras {
      display: flex;
      flex-direction: column;
      align-items: end;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
        margin-right: 5rem;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: #000;
        background-color: white;
      }
    }
    
  }

  @include tablet {
    .div_quiensoy_letras2 {
      display: flex;
      flex-direction: column;
      align-items: start;
      flex: 1;
      margin-right: 0rem;

      .h2 {
        display: flex;
        margin-left: 3.1rem;
      }

      .p-quiensoy {
        display: flex;
        text-align: center;
        max-width: 16.5rem;
        color: #000;
        background-color: white;
      }
    }
   
  }