* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;

  }
  
  body {
    margin: auto;
    padding: auto;
    background-color: black;
  }

  h1 {
    text-align: center;
    color: white;
    background-color: red;
    margin: 0 0 0.5rem 0;
    padding: 0 0 0.3rem 0;
    font-weight: 800;
  }

 