.toprak-title:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.35) rotate(0deg);
  color: #000;
}
.a-inicio:hover {
  transform: scale(1.6) rotate(5deg);
}
.a-quiensoyy:hover {
  transform: scale(1.6) rotate(5deg);
}
.a-academiaa:hover {
  transform: scale(1.6) rotate(5deg);
}
.a-contactoo:hover {
  transform: scale(1.6) rotate(5deg);
}
.yamaha_racing {
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .img-yamaharacing {
    margin-left: 1rem;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .p-yamaha {
    color: white;
    padding: 0.5rem;
  }