* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;

  }
  
  body {
    max-width: 900px;
    margin: auto;
    padding: auto;
    background-color: black;
  }
  
  a {
    text-decoration: none;
  }
  
  .principal {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    color: black;
    background-color: white;
    margin: 0 0 0.5rem 0;
    padding: 0 0 0.3rem 0;
  }
  
  .a-quiensoy {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 76, 250);
    font-size: xx-large;
    opacity: 70%;
    color: black;
    padding-block: 0.5rem;
    align-items: center;
  }
  
  .a-racingteam {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 111, 3);
    font-size: xx-large;
    opacity: 70%;
    color: black;
    padding-block: 0.5rem;
    align-items: center;
  }
  
  .a-academia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 164, 27);
    font-size: xx-large;
    opacity: 70%;
    color: black;
    padding-block: 0.5rem;
    align-items: center;
  }
  
  .a-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 246, 244);
    font-size: xx-large;
    opacity: 70%;
    color: black;
    padding-block: 0.5rem;
    align-items: center;
  }
  
  /* QuienSoy */
  .navbar {
    background-color: red;
    display: flex;
  }
  
  .menu-mobil-superbikes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .toprak-title {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  
  .navbar-toggler {
    margin-right: 1rem;
  }
  
  .navbar-nav {
    padding-left: 2.15rem;
  }
  
  .titulo-superbikes {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .h2 {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: black;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0 0 0.3rem 0;
  }
  
  .p-quiensoy {
    text-align: start;
    color: white;
    margin: 0.25rem 1rem 0 1rem;
  }
  
  .menu-desktop-superbikes {
    display: none;
  }
  
  /* Yamaha Racing */
  .yamaha_racing {
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .img-yamaharacing {
    margin-left: 1rem;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .p-yamaha {
    color: white;
    padding: 1rem;
  }
  
  /* Academia */
  .div-h1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0.5rem 1rem 0rem 1rem;
    color: white;
    text-decoration-line: none;
    font-size: 1.7rem;
  }
  
  .div-h1 > h1 {
    padding-inline: 1rem;
  }
  
  .tarjetitas {
    display: flex;
    flex-direction: column;
    margin-inline: 0rem;
  }
  
  .tarjetita1 {
    background-color: #999;
    margin: 1rem 1rem;
    flex: 1;
    max-width: 32rem;
  }
  
  .h2_academia {
    display: inline;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    color: white;
    background-color: red;
  }
  
  .p_academia {
    color: white;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  
  .a_academia {
    text-decoration: none;
    list-style-type: none;
    color: white;
    background-color: black;
    font-size: larger;
    border-radius: 0.1rem;
  }
  
  .img-academia {
    width: 95%;
    margin-inline: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  /* CONTACTO */
  .h1-contacto {
    margin: 1rem 0 1rem 0;
  }
  
  .contacto {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0rem 1rem 0rem 1rem;
    color: white;
    text-decoration-line: none;
    font-size: 1.7rem;
  }
  
  .label {
    color: white;
  }
  
  form {
    margin: 0 auto;
    width: 250px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: left;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 3em;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: 0.5em;
  }
  
  .boton-enviar {
    display: flex;
    margin: 0.3rem 1rem 1rem 0rem;
    font-size: large;
  }
  
  @media (min-width: 570px) {
    .h2 {
      position: relative;
    }
    .imagen-toprak {
      position: absolutes;
      padding-top: 1rem;
    }
    .principal {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "div-toprak0 div-toprak" "div-superbikes div-racingteam" "div-academia div-contacto";
      margin-top: 0.5rem;
      min-height: 93vh;
    }
    .a-quiensoy {
      padding-block: 6rem;
    }
    .a-racingteam {
      padding-block: 6rem;
    }
    .a-academia {
      padding-block: 6rem;
    }
    .a-contacto {
      padding-block: 6rem;
    }
    /* Medias Quien soy */
    .navbar {
      display: flex;
    }
    .menu-mobil-superbikes {
      display: none;
    }
    .menu-desktop-superbikes {
      display: flex;
      flex: 1;
      justify-content: space-between;
      display: flex;
      flex: 1;
      align-content: center;
      align-items: center;
      margin-right: 2rem;
    }
    .menu-desktop-superbikes > * {
      list-style-type: none;
      text-decoration: none;
      color: black;
      background-color: white;
      padding-inline: 0.1rem;
    }
    .toprak-title {
      color: white;
      background-color: transparent;
    }
    .main_quiensoy {
      display: flex;
      flex-direction: column;
    }
    .quien_soy_img {
      display: flex;
      width: 50%;
      align-items: center;
      align-content: center;
    }
    .div_quiensoy_letras {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
      justify-content: space-around;
    }
    .h2 {
      display: flex;
    }
    .p-quiensoy {
      display: flex;
      text-align: center;
      max-width: 10rem;
    }
    .quien_soy_img2 {
      max-width: 24%;
    }
    /* MEDIAS ACADEMIA */
    .tarjetitas {
      display: flex;
      flex-direction: row;
      padding-inline: 1rem;
    }
    .tarjetita1 {
      background-color: #999;
      margin: 1rem 1rem;
      flex: 1;
    }
    .h2_academia {
      display: inline;
      padding: 0.1rem 0.1rem 0.1rem 0.1rem;
      color: white;
      background-color: red;
    }
    .p_academia {
      color: white;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .a_academia {
      text-decoration: none;
      list-style-type: none;
      color: white;
      background-color: black;
      font-size: larger;
      border-radius: 0.1rem;
    }
    .img-academia {
      width: 95%;
      margin-inline: 1rem;
    }
    /* MEDIAS CONTACTO*/
    .h1-contacto {
      margin: 1rem 0 1rem 0;
    }
    .contacto {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin: 0rem 1rem 0rem 1rem;
      color: white;
      text-decoration-line: none;
      font-size: 1.7rem;
    }
    .label {
      color: white;
    }
    form {
      margin: 0 auto;
      width: 400px;
      padding: 1em;
      border: 1px solid #ccc;
      border-radius: 1em;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    form li + li {
      margin-top: 1em;
    }
    label {
      display: inline-block;
      width: 90px;
      text-align: left;
    }
    input, textarea {
      font: 1em sans-serif;
      width: 320px;
      box-sizing: border-box;
      border: 1px solid #999;
    }
    input:focus, textarea:focus {
      border-color: #000;
    }
    textarea {
      vertical-align: top;
      height: 9em;
    }
    .button {
      padding-left: 90px;
    }
    button {
      margin-left: 0.5em;
    }
    .boton-enviar {
      display: flex;
      margin: 0.3rem 1rem 1rem 0rem;
      align-content: center;
      font-size: medium;
    }
  }
  @media (min-width: 1000px) {
    .h2 {
      position: relative;
    }
    .principal {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "div-toprak0 div-toprak0 div-superbikes div-racingteam" "div-toprak div-toprak div-preparaciones div-contacto";
      min-height: 93vh;
    }
    .div-toprak0 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 0;
      grid-row-end: 2;
    }
    .div-toprak {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 0;
      grid-row-end: 3;
    }
    .a-quiensoy:hover {
      transition: background-color 0.5s;
      background-color: rgb(43, 46, 218);
    }
    .a-racingteam:hover {
      transition: background-color 0.5s;
      background-color: rgb(120, 68, 6);
    }
    .a-academia:hover {
      transition: background-color 0.5s;
      background-color: rgb(96, 96, 13);
    }
    .a-contacto:hover {
      transition: background-color 0.5s;
      background-color: rgb(88, 88, 89);
    }
  }/*# sourceMappingURL=estilo.css.map */